<script src="src/sdk/domain/models.ts"></script>
<template>
  <q-page class="flex flex-center full-height full-width">
    <div class="absolute-center text-center">
      <div v-if="isUserSignedIn">
        <q-img :src="userAvatar" class="avatar" />
        <div class="ellipsis">{{ userDisplayName }}</div>
        <q-btn outline @click="signOut">Sign Out</q-btn>
      </div>
      <div v-else>
        <q-btn @click="redirectSignIn">Sign in with Blockstack</q-btn>
      </div>
    </div>
  </q-page>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapGetters, mapActions } from 'vuex';
export default Vue.extend({
  name: 'PageIndex',
  computed: {
    ...mapGetters('app', ['isUserSignedIn', 'userDisplayName', 'userAvatar'])
  },
  methods: {
    ...mapActions('app', ['initializeData', 'handleSignIn', 'signOut']),
    redirectSignIn(): void {
      this.$appUserSession.redirectToSignIn(`https://${window.location.host}`);
    }
  },
  async mounted() {
    try {
      await this.initializeData();
      await this.handleSignIn(() => {
        this.$router.push('/');
      });
    } catch (e) {
      // do no thing here
    }
  }
});
</script>
